<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kor">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<header th:fragment="header">
    <!-- jQuery -->
    <script th:src="@{/js/jquery3.7.1.min.js}"></script>
    <!-- Popper.js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap JS (Popper.js 포함 번들 대신 분리 사용) -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</header>
</html>